# Creating connection

In [1]:
# connection to mysql
import mysql.connector as sql
connection=sql.connect(host="localhost",user="root",password="67890")
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x00000202067BB748>

# Creating database

In [4]:
cursor=connection.cursor()
cursor.execute("CREATE DATABASE studentdatabase") ## creating database

In [6]:
cursor.execute("SHOW DATABASES") ##display the database

In [7]:
for database in cursor:
    print(database)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('studentdatabase',)
('sys',)
('world',)

In [20]:
cursor.execute("CREATE DATABASE sri")

In [21]:
cursor.execute("SHOW DATABASES")

In [22]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sri',)
('studentdatabase',)
('sys',)
('world',)

In [23]:
cursor.execute("DROP DATABASE sri") ##drop the database

In [24]:
cursor.execute("SHOW DATABASES")

In [25]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('studentdatabase',)
('sys',)
('world',)

In [33]:
import mysql.connector as sql
connection=sql.connect(host="localhost",user="root",password="67890",database="studentdatabase")
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x00000202087F5688>

# Creating Tabel in MySql

In [36]:
cursor=connection.cursor()
cursor.execute("CREATE TABLE stud_detail(id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(225),subject VARCHAR(225))")

# Insert Records

In [43]:
query="INSERT INTO stud_detail(name,subject)VALUES(%s,%s)"
values=('def','tamil')
cursor.execute(query,values)
print("Row is inserted",cursor.lastrowid)

Row is inserted 2

In [71]:
##Insert many rows
query="INSERT INTO stud_detail(name,subject)VALUES(%s,%s)"
values=[("sri","englih"),("sai","social"),("sri1","science"),("sri2","history"),("sri","maths")]
cursor.executemany(query,values)
print("Row is inserted",cursor.lastrowid)

Row is inserted 11

# Select All

In [77]:
cursor.execute("SELECT * FROM stud_detail")

In [73]:
cursor.fetchall()

[(1, 'abc', 'maths'),
 (2, 'def', 'tamil'),
 (3, 'sri', 'englih'),
 (4, 'sai', 'social'),
 (5, 'sri1', 'science'),
 (6, 'sri2', 'history'),
 (7, 'sri', 'englih'),
 (8, 'sai', 'social'),
 (9, 'sri1', 'science'),
 (10, 'sri2', 'history'),
 (11, 'sri', 'maths')]

In [79]:
data=cursor.fetchall()

In [80]:
for records in data:
    print(records)

(1, 'abc', 'maths')
(2, 'def', 'tamil')
(3, 'sri', 'englih')
(4, 'sai', 'social')
(5, 'sri1', 'science')
(6, 'sri2', 'history')
(7, 'sri', 'englih')
(8, 'sai', 'social')
(9, 'sri1', 'science')
(10, 'sri2', 'history')
(11, 'sri', 'maths')

# Selecting a particular rows

In [81]:
#Selecting a particular row
cursor.execute("SELECT * FROM stud_detail where name='sri'")

In [82]:
cursor.fetchall()

[(3, 'sri', 'englih'), (7, 'sri', 'englih'), (11, 'sri', 'maths')]

# Selecting a particular columns

In [92]:
cursor.execute("SELECT name FROM stud_detail")

In [84]:
cursor.fetchall()

[('abc',),
 ('def',),
 ('sri',),
 ('sai',),
 ('sri1',),
 ('sri2',),
 ('sri',),
 ('sai',),
 ('sri1',),
 ('sri2',),
 ('sri',)]

In [85]:
cursor.execute("SELECT DISTINCT name FROM stud_detail")

In [86]:
cursor.fetchall()

[('abc',), ('def',), ('sri',), ('sai',), ('sri1',), ('sri2',)]

In [101]:
cursor.execute("SELECT name,subject FROM stud_detail where name='sri1' OR  subject='english'")

In [102]:
cursor.fetchall()

[('sri1', 'science'), ('sri1', 'science')]